# EDA 

Notebook to explore and crear EDA to the cars detail data

## Sección 1. Calidad de Datos CarroYA

In [3]:
import importlib
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
from functions_data import * 
from definitions import *


#fd = importlib.reload(functions_data)

missing_columns_check = ['id','precio','km','año']

schema = {  'id':'string',
            'link':'string',
            'modelo':'category',
            'version':'string',
            'precio':'double',
            'ciudad':'category',
            'km':'double',
            'año':'int',
            'estado':'category',
            'ubicacion':'category',
            'placa':'category',
            'tipo_de_caja':'category',
            'combustible':'category',
            'cilindraje':'double',
            'color':'category',
            'puertas':'double',
            'airbags':'category',
            'direccion':'category',
}



csv_file = f'data/car_details.csv'
df = pd.read_csv(f'../{csv_file}')
df = clean_dataframe(df, schema, missing_columns_check)
# create new variables
df['marca'] = df['modelo'].apply(lambda x : str(x).split(' ')[0])
df['placa'] = df['placa'].apply(lambda x : str(x).split(' ')[0])

#Elegir solo carros usados
df = df.query('estado == "usado"')

# Corregir algunas valores de las variables categoricas
df['color'] = df['color'].str.replace('morado','otro').str.replace('lila','otro').str.replace('no disponible','otro').str.replace('varios','otro')
df['combustible'] = df['combustible'].str.replace('sin especificar','gasolina')
df['tipo_de_caja'] = df['tipo_de_caja'].str.replace('0','mecanica').str.replace('secuencial','automatica')
df['airbags'] = df['airbags'].str.replace('2','airbags').str.replace('airbags','1')
df['direccion'] = df['direccion'].str.replace('electro_hidraulica','electrica').str.replace('asistencia','').str.replace(' ','').str.replace('asistida','hidraulica')
df['cilindraje'] = df['cilindraje'].apply(lambda x: round(x *10) * 100 if x >= 0 and x<10 else x)
df['nombre_carro'] = df['modelo']
df['modelo'] = df['modelo'].apply(lambda x: ' '.join(x.split(' ')[1:]) if len(x.split(' ')) > 1 else x)
df['modelo'] = df['modelo'].str.replace('benz','')
df['impar'] = df['placa'].apply(lambda x: int(x[-1]) % 2 if x[-1].isdigit() else -1)


df.head()
#df.groupby(by=['airbags']).count()['id'].sort_values(ascending=False)#.head(10)

df original size: (7187, 19) - columns: Index(['id', 'link', 'modelo', 'version', 'precio', 'ciudad', 'km', 'año',
       'ESTADO', 'UBICACIÓN', 'PLACA', 'TIPO DE CAJA', 'COMBUSTIBLE',
       'CILINDRAJE', 'COLOR', 'PUERTAS', 'AIRBAGS', 'DIRECCIÓN',
       'Unnamed: 18'],
      dtype='object')
df cleaned size: (6928, 18) - columns: Index(['id', 'link', 'modelo', 'version', 'precio', 'ciudad', 'km', 'año',
       'estado', 'ubicacion', 'placa', 'tipo_de_caja', 'combustible',
       'cilindraje', 'color', 'puertas', 'airbags', 'direccion'],
      dtype='object')

,id,link,modelo,version,precio,ciudad,km,año,estado,ubicacion,...,tipo_de_caja,combustible,cilindraje,color,puertas,airbags,direccion,marca,nombre_carro,impar
0,8458b8fb-2f95-42b1-a5bc-d454803e5c12,https://www.carroya.com/detalle/usado/bmw/x2/2...,x2,sDrive 20i Premium,110000000.0,cajica,67000.0,2019,usado,cajica,...,automatica,gasolina,2000.0,negro,4.0,NaN,NaN,bmw,bmw x2,1
1,f502baa1-3537-448b-b391-80829644ff06,https://www.carroya.com/detalle/usado/volkswag...,jetta,NaN,53000000.0,bogota,115000.0,2019,usado,bogota,...,automatica,gasolina,1400.0,gris,NaN,NaN,NaN,volkswagen,volkswagen jetta,0
2,f674328c-d998-4a29-8bb0-8da5e00158bb,https://www.carroya.com/detalle/usado/nissan/q...,qashqai,2.0 Automatica Full Equipo,69500000.0,cali,66500.0,2016,usado,cali,...,automatica,gasolina,2000.0,negro,NaN,NaN,NaN,nissan,nissan qashqai,0
3,c9a0bf4d-09d6-4544-a705-28f50fe8107e,https://www.carroya.com/detalle/usado/renault/...,clio,1.4 Dynamique,17900000.0,cali,118000.0,2007,usado,cali,...,mecanica,gasolina,0.0,plateado,NaN,NaN,NaN,renault,renault clio,0
4,2281829,https://www.carroya.com/detalle/usado/chevrole...,onix,1.0 Turbo LT Sedan Automatico,59000000.0,bogota,39000.0,2021,usado,bogota,...,automatica,gasolina,1000.0,plateado,NaN,1,NaN,chevrolet,chevrolet onix,1

In [11]:
# Analisis de calidad de los datos con profiling

profile = ProfileReport(df, title="Profiling Report")
profile.to_file("../quality/quality_report.html")

Summarize dataset:  81%|████████▏ | 22/27 [00:02<00:00, 13.11it/s, Calculate auto correlation]    c:\Users\Msastoqu\OneDrive - Caracol Televisión S.A\Master\TFM\project\env\lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[9 9 8 ... 9 9 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Msastoqu\OneDrive - Caracol Televisión S.A\Master\TFM\project\env\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'negro'')
  warnings.warn(
Summarize dataset: 100%|██████████| 46/46 [00:19<00:00,  2.32it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:59<00:00, 59.65s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.99s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 15.36it/s]

## Sección 1. Calidad Datos Mercadolibre

In [174]:

# Define function to clean and preprocess DataFrame
def clean_dataframe(df:pd.DataFrame, schema:dict, missing_columns_check:list) -> pd.DataFrame:
    print(f'df original size: {df.shape} - columns: {df.columns}' )
    # Standarize column names
    df = standarize_column_names(df)
    # Remove duplicates
    df = df.drop_duplicates()
    # Handle missing values
    df = df.dropna(subset=missing_columns_check)

    default_value_int = -1

    # Format fields to match the schema
    for column, dtype in schema.items():
        if column in df.columns:
            if dtype == 'date' and df[column].dtype != 'datetime64[ns]':
                df[column] = pd.to_datetime(df[column])
            elif dtype == 'int' and df[column].dtype != 'int64':
                df[column] = df[column].replace([np.inf, -np.inf, np.nan], default_value_int)
                df[column] = df[column].astype('int')
            elif dtype == 'double' and (df[column].dtype != 'float64' and df[column].dtype != 'int64'):
                df[column] = df[column].str.replace('$','').str.replace('.','').str.replace(',','').str.replace(' km','').str.replace(' ','').astype('float')
            elif dtype == 'string' and df[column].dtype != 'object':
                df[column] = df[column].astype('str')
            elif dtype == 'category':
                df[column] = df[column].str.lower().str.replace('(', '').str.replace(')', '')\
                    .str.replace('.','').str.replace('/','_').str.replace('-','_').str.replace('__','_')\
                    .str.replace('á','a').str.replace('é','e').str.replace('í','i').str.replace('ó','o').str.replace('ú','u').astype('category')
    print(f'df cleaned size: {df.shape} - columns: {df.columns}' )
    return df

def fix_motor_unit(x:str) -> float:
    x = str(x).lower().replace('cc','').replace('turbo','').replace('l','').replace('t','').replace('.','.')\
        .split(' ')[0].replace('x','').replace('-','').replace('cc','').replace('L','')
    try:
        x = float(x)
    except:
        x= -1
    if x >=800: 
        x = x/1000
    x = round(x,1)
    if x >= 6:
        x = -1
    return x

In [196]:


missing_columns_check = ['id_car','price','kilometros','año']

schema = {  'id_car':'string',
            'title':'string',
            'link':'string',
            'price':'double',
            'seller_name':'string',
            'city':'category',
            'color':'category',
            'aire_acondicionado':'category',
            'marca':'category',
            'puertas':'int',
            'motor':'string',
            'tipo_de_combustible':'category',
            'kilometros':'string',
            'modelo':'category',
            'transmision':'category',
            'version':'string',
            'año':'int',
            'cilindrada':'string',
            'capacidad_de_personas':'int',
            'potencia':'string',
            'control_de_traccion':'category',
            'unico_dueño':'category',
            'largo':'string',
            'linea':'string',
            'cilindros':'string',
}


json_file = f'data/car_attributes.json'
df = pd.read_json(f'../{json_file}')
# eliminar columnas innecesarias o con muchos nulos
df = df.drop(columns=['condition','category_id','catalog_product_id','domain_id','currency_id','seller_id','country','stop_time',\
                    'condicion_del_item','aceleracion_nafta','autonomia_con_nafta','consumo_promedio_nafta','modelo_detallado',\
                    'marca_fipe','modelo_fipe','año_fipe','velocidad_maxima_con_nafta', 'vehiculos_verificados','cilindros',\
                    'control_de_tracci��n','transmisi��n','versi��n','inspeccion_vehicular','linea','largo','unico_dueño'], errors='ignore')
print(list(df.columns))
print(f'=== df shape: {df.shape} === ')

df = clean_dataframe(df, schema, missing_columns_check)

# elimna datos de marcas menos populares
top_20_marcas = df['marca'].value_counts().head(20)
df = df.query(f'marca in {list(top_20_marcas.index)}')
print(f'=== df (top marcas) shape: {df.shape} === ')

# elimina datos con valores no permitidos de puertas
df['puertas'] = df['puertas'].apply(lambda x: int(x) if x >=2 and x <=5 else -1)
df = df.query('puertas != -1')
print(f'=== df (puertas) shape: {df.shape} === ')

# create new variables
year_today = 2024
df['age'] = df['año'].apply(lambda x :  year_today-int(x) )

# Corregir algunas valores de las variables categoricas
df['color'] = df['color'].str.split().str[0].str.replace('rosa','rojo').str.replace('beige','blanco').str.replace('celeste','azul')
df['color'] = df['color'].fillna("otro")
df['aire_acondicionado'] = df['aire_acondicionado'].fillna("no")
df['kilometros'] = df['kilometros'].str.replace('km','').str.replace(' ','').astype('float')
df['motor'] =  df['motor'].apply(lambda x:  fix_motor_unit(x))
df['cilindrada'] = df['cilindrada'].apply(lambda x:  fix_motor_unit(x))
df['potencia'] = df['potencia'].str.replace('hp','').str.replace(' ','').astype('float') # hp
df['transmision'] = df['transmision'].str.replace('manual','mecanica')
df['transmision'] = df['transmision'].fillna('mecanica')
df = df.query('motor != -1')
df = df.query('tipo_de_combustible !="n_a"')
print(f'=== df (motor) shape: {df.shape} === ')

['id_car', 'title', 'link', 'price', 'seller_name', 'city', 'color', 'aire_acondicionado', 'marca', 'puertas', 'motor', 'tipo_de_combustible', 'kilometros', 'modelo', 'version', 'año', 'cilindrada', 'capacidad_de_personas', 'potencia', 'control_de_traccion', 'transmision']
=== df shape: (43348, 21) ===
df original size: (43348, 21) - columns: Index(['id_car', 'title', 'link', 'price', 'seller_name', 'city', 'color',
       'aire_acondicionado', 'marca', 'puertas', 'motor',
       'tipo_de_combustible', 'kilometros', 'modelo', 'version', 'año',
       'cilindrada', 'capacidad_de_personas', 'potencia',
       'control_de_traccion', 'transmision'],
      dtype='object')
df cleaned size: (43343, 21) - columns: Index(['id_car', 'title', 'link', 'price', 'seller_name', 'city', 'color',
       'aire_acondicionado', 'marca', 'puertas', 'motor',
       'tipo_de_combustible', 'kilometros', 'modelo', 'version', 'año',
       'cilindrada', 'capacidad_de_personas', 'potencia',
       'control_de_traccion', 'transmision'],
      dtype='object')
=== df (top marcas) shape: (40734, 21) ===
=== df (puertas) shape: (40707, 21) ===
=== df (motor) shape: (40309, 22) ===

In [197]:
# Procentaje de nulos
df.isna().sum()/df.shape[0] *100

id_car                    0.000000
title                     0.000000
link                      0.000000
price                     0.000000
seller_name               0.000000
city                      0.000000
color                     0.000000
aire_acondicionado        0.000000
marca                     0.000000
puertas                   0.000000
motor                     7.462353
tipo_de_combustible       0.000000
kilometros                0.000000
modelo                    0.000000
version                   0.004962
año                       0.000000
cilindrada               22.307673
capacidad_de_personas     0.000000
potencia                 21.670098
control_de_traccion       8.516708
transmision               0.000000
age                       0.000000
dtype: float64

In [198]:
# Analisis de calidad de los datos con profiling

profile = ProfileReport(df, title="Profiling Report")
profile.to_file("../quality/quality_report.html")

Summarize dataset:  83%|████████▎ | 24/29 [00:01<00:00, 15.18it/s, Calculate auto correlation]             c:\Users\Msastoqu\OneDrive - Caracol Televisión S.A\Master\TFM\project\env\lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[6 0 6 ... 0 0 0]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
c:\Users\Msastoqu\OneDrive - Caracol Televisión S.A\Master\TFM\project\env\lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'si'')
  warnings.warn(
Summarize dataset: 100%|██████████| 96/96 [00:09<00:00, 10.51it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.92s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.08s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 26.16it/s]

## Sección 2.  Análisis Exploratorio

In [200]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
import pylab
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
sns.set(style="darkgrid",font_scale=1.5)
pd.set_option("display.max.columns",None)
pd.set_option("display.max.rows",None)

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor


from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'catboost'

In [202]:
print(f'=== df shape: {df.shape} === ')
df.info()

=== df shape: (40309, 22) ===
<class 'pandas.core.frame.DataFrame'>
Index: 40309 entries, 0 to 43347
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_car                 40309 non-null  object
 1   title                  40309 non-null  object
 2   link                   40309 non-null  object
 3   price                  40309 non-null  int64
 4   seller_name            40309 non-null  object
 5   city                   40309 non-null  category
 6   color                  40309 non-null  object
 7   aire_acondicionado     40309 non-null  category
 8   marca                  40309 non-null  category
 9   puertas                40309 non-null  int64
 10  motor                  37301 non-null  float64
 11  tipo_de_combustible    40309 non-null  category
 12  kilometros             40309 non-null  float64
 13  modelo                 40309 non-null  category
 14  version                40307 non-null  object
 15  año                    40309 non-null  int64
 16  cilindrada             31317 non-null  float64
 17  capacidad_de_personas  40309 non-null  int32
 18  potencia               31574 non-null  float64
 19  control_de_traccion    36876 non-null  category
 20  transmision            40309 non-null  object
 21  age                    40309 non-null  int64
dtypes: category(6), float64(4), int32(1), int64(4), object(7)
memory usage: 6.4+ MB

## Sección 3. Modelado

## Sección 4. Validación